ion-row{
    
    .flat-item{
        height: 3rem;
        ion-label{
            font-size: medium;
            color: rgb(66 , 66 , 66);
        }
        
    }

    ion-col:last-child{
        text-align: right;
        padding-right: 2rem;

        ion-button{
            right:0;
            position: absolute;
        }
    }

}

ion-row:nth-child(even){
    
    .flat-item{
        background: rgba(0,0,0,.05);
    }
    
}