ion-row{
    
    ion-item-sliding{
        
        ion-item-options{
            background-color: rgba(0,0,0,.05);
        }
    }


    ion-col:last-child{
        text-align: right;
        padding-right: 2rem;

        ion-button{
            right:0;
            position: absolute;
        }
    }

}

ion-item:nth-child(even){
    
    background-color: rgba(0,0,0,.05);
    
    .flat-item{
    }
    
}