.item-quantity-container
{
    display: contents;
    justify-content: space-between;
    width: 5rem;

    h3, button
    {
        margin: 1rem;
    }
}


.total-container
{
    bottom: 0px;
    position: fixed;
    width: 100%;
    padding: 0 1rem 0 0.5rem;
    
    ion-text
    {
        padding:1rem;
        
        .total-count
        {
            text-align: right;
        }
    }
}

.actions-container + .total-container
{
    bottom: 78px;
}

.actions-container
{
    bottom: 0px;
    position: fixed;
    width: 100%;
}

.cdk-touch-focused ~ .mat-vertical-content-container
{
    height: 38vh;
}

ion-header{
    ion-toolbar.sub{
        ion-title{
            font-size: 18px;
        }
    }
}

.completed-step-icon
{
    font-size: 1.25rem;
}

@import '~@angular/material/theming';
::ng-deep .mat-vertical-stepper-header{
    pointer-events: none !important;
}

::ng-deep .mat-step-icon{
    height: 2rem !important;
    width: 2rem !important;
}

::ng-deep .mat-vertical-content-container {
    margin-left: 40px !important;
}

::ng-deep .mat-step-label {
    font-size: 18px !important;
}

::ng-deep .mat-step-header .mat-step-icon-selected{
    background-color: #3880ff !important;
}
