<ion-header>
  <ion-toolbar>
    <ion-title size="large">Enxoval</ion-title>

    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>

    <ion-buttons slot="end">

      <ion-button (click)="report()" *ngIf="isInitiated">
        <ion-icon size="large" name="download"></ion-icon>
      </ion-button>

    </ion-buttons>
  </ion-toolbar>

  <ion-toolbar class="sub" >
    <ion-title size="medium" slot="start" >Flat: {{flatCode}} {{ trousseau.id && ' > ' + trousseau.id.toString().padStart(5, '0') }}</ion-title>
    <ion-title size="medium" slot="end" >{{statusMessage}}</ion-title>
  </ion-toolbar>

</ion-header>

<ion-content>
  
  <mat-vertical-stepper #steps>
    <mat-step [completed]="trousseau.alreadyCompleted(TrousseauStatus.INITIAL)">
      <ng-template matStepLabel> Iniciando </ng-template>

      <step-container [steps]="steps">
        <init-step 
          [itens]="itens" 
          [trousseau]="trousseau" 
          [flatCode]="flatCode"
          [status]="TrousseauStatus.INITIAL"></init-step>
      </step-container>
      
    </mat-step>

    <mat-step [completed]="trousseau.alreadyCompleted(TrousseauStatus.SENT)">
      <ng-template matStepLabel> Enviando </ng-template>
      
      <step-container [steps]="steps" >
        <sending-step [trousseau]="trousseau" [status]="TrousseauStatus.SENT"></sending-step>
      </step-container>

    </mat-step>

    <mat-step [completed]="trousseau.alreadyCompleted(TrousseauStatus.RETRIEVED)">
      <ng-template matStepLabel> Recebendo </ng-template>

      <step-container [steps]="steps" >
        <receiving-step [trousseau]="trousseau" [status]="TrousseauStatus.RETRIEVED"></receiving-step>
      </step-container>
      
    </mat-step>

    <mat-step [completed]="trousseau.alreadyCompleted(TrousseauStatus.OK) || trousseau.alreadyCompleted(TrousseauStatus.NOT_OK)">
      <ng-template matStepLabel> Finalizando </ng-template>

      <step-container [steps]="steps" >
        <finishing-step [itens]="itens" [trousseau]="trousseau"></finishing-step>
      </step-container>

    </mat-step>

    <ng-template matStepperIcon="edit">
      <ion-icon name="checkmark" size="medium" class="completed-step-icon" ></ion-icon>
    </ng-template>
   

  </mat-vertical-stepper>

</ion-content>