<ion-header>
  <ion-toolbar>
    <ion-title>Flat {{flat.code}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <ion-router-outlet></ion-router-outlet>


  <!-- <ion-grid>
    
    <ion-row>
      <ion-col size="8" offset="2">
        <h3>Enxovais</h3>
      </ion-col>

      <ion-col size="2" class="add-trousseau-link" >

        <ion-fab-button [routerLink]="'/flat/' + flat.code + '/trousseau'" >
          <ion-icon name="add"></ion-icon>
        </ion-fab-button>
        
      </ion-col>
      
    </ion-row>

    <ion-row>

      <ion-col>
        <ion-list>
    
          <ion-item *ngFor="let trousseau of trousseaus" >
      
            <ion-grid>
      
              <ion-row>
                
                <ion-col>
                  
                  <ion-label> 
                    <iont-text>
                      <h2>{{trousseau.id.toString().padStart(5, '0') }}</h2>
                    </iont-text>
                  </ion-label>
      
                </ion-col>
                
                <ion-col>
                  
                  <ion-text>
                    {{trousseau.date |date: 'dd/MM/yyyy'}}
                  </ion-text>
      
                </ion-col>
      
              </ion-row>
              
              <ion-row>
      
                <ion-col>
                  <ion-text>
                    {{getLabel(trousseau.status)}}
                  </ion-text>
                </ion-col>
      
                <ion-col>
                  <ion-button color="primary" [routerLink]="'/trousseau/' + trousseau.id">{{getViewButtonLabel(trousseau)}}</ion-button>
                </ion-col>
      
              </ion-row>
      
            </ion-grid>
      
      
          </ion-item>
        
        </ion-list>
      </ion-col>

    </ion-row>

  </ion-grid> -->

  
  <!-- <ion-tabs>
    <ion-tab-bar slot="bottom">

      <ion-tab-button tab="itens">
        <ion-text>Itens</ion-text>
      </ion-tab-button>

      <ion-tab-button tab="trousseaus">
        <ion-text>Enxovais</ion-text>
      </ion-tab-button>

    </ion-tab-bar>
  </ion-tabs> -->
</ion-content>
