ion-card{
    
    height: 71vh;
    
    .finish-buttons{
        display: flex;
        justify-content: space-around;
        border-top: 1px solid var(--ion-item-border-color, var(--ion-border-color, var(--ion-color-step-150, rgba(0, 0, 0, 0.13))));
        height: 3.5rem;
        bottom: 0;
        position: absolute;
        width: 100%;
        padding: 0 25%;
        
        div{

            display: flex;
            flex-flow: column;
            text-align: center;
            margin-top: -1.5rem;
            align-items: center;

            ion-fab-button{
                width: 2.5rem;
                height: 2.5rem;
                --box-shadow:none;
            }

            ion-label{
                margin-top: 0.5rem;
            }
        }

    }

}