<ion-card>
  
  <ng-content></ng-content>

  <div *ngIf="showFinishButtons" class="finish-buttons">

    <div>
      <ion-fab-button (click)="cancel()" color="danger" >  <ion-icon name="close-outline" size="medium" ></ion-icon></ion-fab-button>
      <ion-label>{{cancelButtonLabel}}</ion-label>
    </div>
    <div>
      <ion-fab-button (click)="confirm()" > <ion-icon name="checkmark" size="medium"></ion-icon></ion-fab-button>
      <ion-label>{{confirmButtonLabel}}</ion-label>
    </div>

  </div>

</ion-card>