ion-row{
    
    ion-item-sliding{
        
        ion-item-options{
            background-color: rgba(0,0,0,.05);
        }

        ion-item{
            --inner-padding-end: 0;
        }
    }

}

ion-row:nth-child(even){
    
    span{
        background: rgba(0,0,0,.05);
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: 4;
        pointer-events: none;
    }
    
}

ion-grid{
    padding-bottom: 5rem;
}