ion-list{

    ion-card{

        padding:0;

        ion-card-content{
            
            padding: 0;
            
            ion-grid{
                
                padding: 0;
                
                ion-row{
                    
                    min-height: 3rem;
                    
                    ion-col{
                        
                        padding: 0;

                        ion-button{
                            height: 100%;
                            margin: 0;
                        }

                        h2{
                            height: 100%;
                            text-align: center;
                            line-height: 4;
                        }

                    }

                }

            }

        }

    }

}

