<ion-header>
  <ion-toolbar>
    <ion-title>flats</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>

    <ion-card *ngFor="let flat of flats">

      <ion-card-content>
        <ion-grid>
          
          <ion-row>

            <ion-col>
              <ion-text> <h2> Flat {{flat.code}} </h2> </ion-text>
            </ion-col>
            
            <ion-col>
              <ion-button color="medium" expand="full" [routerLink]="'/flat/' + flat.code + '/flat-trousseaus'" routerDirection="forward" >Detalhes</ion-button>
            </ion-col>
            
            <ion-col>
              <ion-button color="primary" expand="full" [routerLink]="'/flat/' + flat.code + '/trousseau'" routerDirection="forward" >Novo Enxoval</ion-button>
            </ion-col>

          </ion-row>

        </ion-grid>
      </ion-card-content>

    </ion-card>

  </ion-list>

  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadFlats($event)">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Carregando...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>
